[submodule "/Users/keerthiarun/Documents/MyGitRepos/MyDemoRepo/submodulerepos"]
	path = /Users/keerthiarun/Documents/MyGitRepos/MyDemoRepo/submodulerepos
	url = https://github.com/arunkumar1322/MySubmoduleRep.git
